*.egg-info
.*-cache
.mxdev_cache/
.coverage
.coverage.*
!.coveragerc
coverage.json
coverage.xml
htmlcov/
.installed.txt
.mxmake/
.python-version
.pytest_cache/
.tox
__pycache__
build/
constraints-mxdev.txt
example/*-outfile.txt
requirements-mxdev.txt
.venv/
dist/
src/mxdev/_version.py
.claude
