include *.rst
include *.md
exclude requirements.txt
exclude tox.ini
exclude .*.yaml
recursive-include example *.ini
recursive-include example *.txt
recursive-include src *.md
recursive-exclude example *-outfile.txt
recursive-include src *.ini
recursive-exclude .vscode *
graft mxdev
